.antiscam-wrapper {
  width: 100%;
  padding: 20px;
}

  .antiscam-wrapper p {
    font-size: 20px;
    margin: 5px 0;
    line-height: 2em;
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .antiscam-wrapper p > span {
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #000;
    margin-right: 10px;
  }

  .ps-text {
    font-size: 20px;
    margin: 5px 0;
    line-height: 2em;
    font-style: italic;
  }

    .ps-text span {
      font-weight: bold;
    }
