.shipping-wrapper {
  width: 100%;
}

  .paragraph {
    padding: 20px;
  }

    .paragraph-title {
      font-size: 20px;
      padding: 5px 0;
      text-transform: uppercase;
      color: #62B4CF;
    }

    .paragraph-text p {
      font-size: 20px;
      line-height: 2em;
    }

      .paragraph-text p span {
        font-weight: bold;
      }

.shipping-footer {
  width: 100%;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

  .shipping-footer a img {
    width: 150px;
    margin-right: 20px;
  }

  .shipping-footer a {
    font-size: 22px;
    color: #FF5300;
    text-decoration: underline;
  }
