.updates-wrapper {
  width: 100%;
}

  .update-item {
    padding: 20px 10px;
    text-align: center;
  }

    .update-date p {
      font-size: 18px;
      padding: 10px 0;
      color: #3AAACF;
    }

    .update-title p {
      font-size: 20px;
      padding: 5px 0;
      color: #024E68;
    }
