.section--counter {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: center;
}

  .section--counter h1 {
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #0088cc;
  }

  .section--counter p {
    font-size: 25px;
    font-weight: bold;
    color: #0088cc;
    padding: 20px 0;
    line-height: 1.5em;
  }

@media screen and (max-width: 550px) {
  .section--counter h1 {
    font-size: 50px;
  }

  .section--counter p {
    font-size: 25px;
    padding: 20px;
  }
}
