.section--map {
  width: 100%;
  height: 500px;
  background-color: #ddd;
}

  #map {
    width: 100%;
    height: 100%;
  }


@media screen and (max-width: 425px) {
  .section--map {
    height: 400px;
  }
}
